/* class for specific parameters for the header logo */
.main-logo {
  height: 20em;
  max-height: 20em;
}

/* override bootstrap default 'height: auto'
   so that image will resize more clearly from parent */
.img-responsive {
  height: 100%;
}
