/* color palette
    orange: #F79520
    slate:  #485865
    youtube: #cc181e
    twitter: #4099ff
    facebook: #4267b2
*/

/* import font */
@font-face {
  font-family: "Mohave";
  src: url(../resources/fonts/Mohave.otf) format("opentype");
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "Mohave", sans-serif;
}

body p {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
}

address {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
}

nav a {
  font-family: "Mohave", sans-serif;
  font-size: 2em;
}

.primarytext {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.subtext {
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #485865;
}

/* page colors */
body {
  background-color: #1A1A1A;
  color: #ddd;
}

.content-inner {
  /*background-color: #7A7A7A;*/
}

/* hack in order to elimate whitespace on right side, related to bootstrap '.row' usage */
.nullify-bs-margin {
  margin-left: 0;
  margin-right: 0;
}

.nullify-bs-padding {
  padding-left: 0;
  padding-right: 0;
}

/* override bootstrap navbar values */
.navbar {
  border: none;
  border-radius: 0;
}

.navbar-default {
  background-color: #1a1a1a;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #f2f2f2;
  transition: color 150ms;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #F79520;
}

.embiggen {
  padding-top: .5em;
  padding-bottom: .5em;
}

/* eliminate unwanted padding on the side */
section.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

section .row {
  background: #485865;
}

/* class for specific parameters for the header logo */
.main-logo {
  height: 20em;
  max-height: 20em;
}

/* override bootstrap default 'height: auto'
   so that image will resize more clearly from parent */
.img-responsive {
  height: 100%;
}

/* banners and page structure */
.banner-image-wrap {

}

.banner-image {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.content-inner {
  padding: 1em 4em;
}

/* google map styles */
#map {
  height: 25em;
  margin: 0;
  padding: 0;
}

#map iframe {
  height: 100%;
  width: 100%;
}

/* desktop specific styles view */
@media (min-width: 1024px) {
  .banner-image-wrap {
    /*max-height: 45vh;
    height: 45vh;*/
    overflow-y: hidden;
  }

  .banner-image {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }

  .content-inner {
    /*min-height: 55vh;
    height: 55vh;
    max-height: 55vh;*/
    padding-top: 3.5em;
    padding-bottom: 6em;
  }

  .content-inner a {
    color: #F79520;
  }

  #map {
    height: 30em;
  }

  .footer-message {
    display: inline-block;
    padding: 1em 0 0 11em;
  }

  .social-media {
    display: inline-block;
    padding: 1em 11em 0 0;
    float: right;
  }
}

/* footer */
footer {
  height: 10em;
}

.social-media a {
  color: inherit;
  font-size: 2em;
  padding-left: .5em;
}

#facebook {
  transition: color 150ms;
}
#facebook:hover {
  color: #4267b2;
}

#twitter {
  transition: color 150ms;
}
#twitter:hover {
  color: #4099ff;
}

#instagram {
  transition: color 150ms;
}
#instagram:hover {
  color: #c13584;
}

#youtube {
  transition: color 150ms;
}
#youtube:hover {
  color: #cc181e;
}

/* styles for the nav to stick to the top of the view field */
.glued {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* apply margin to the top of the body to prevent 'snapping' when nav is stickified */
.glued-buffer {
  margin-top: 50px;
}
